.matrix table {
    border:1px solid black;
}

.matrix tr {
    border:1px solid black;
}

.matrix td {
    border: 1px solid black;
    height: 35px;
    min-width: 35px!important;
}
.dvTd{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}
.container { 
    text-align: center;
    background-color: grey;
  }
.wrapper {
    display: inline-block;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
}
.task1 {
    background-color: purple;
}
.task2 {
    background-color: pink;
}
.task3 {
    background-color: rgb(94, 94, 247);
}
.block {
    background-color: brown;
}
.battery2 {
    background-color: green;
}
.battery1 {
    background-color: yellow;
}
.robot {
    background-color: grey;
}
.empty {
    background-color: white;
}

.icn{
    margin-left: 20%;
}

.inProgress {
    color: white;
}

.onHold {
    color:black;
}

.iconSection {
    padding: 1%;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: ivory;
    width: 98%;
}

.mainIcon {
    display: inline-block;
    height: 35px;
    min-width: 35px!important;
    margin-right: 15px;
    border:3px solid black;
    border-radius: 10px;
    opacity:1.0;
    filter:alpha(opacity=100); 
}

.mainIcon:hover {
    opacity: 0.5;
    filter: alpha(opacity=40);
}

.lifeCounter {
    border: 2px solid black;
    border-radius: 10px;
    margin-top:10px;
    margin-bottom: 10px;
}

.lifeCounter th {
    height: 10px;
    width: 8.2px;
    border:none;
}

.lifeClrGreen {
    background-color: rgb(203, 255, 126);
}

.lifeClrYellow {
    background-color: yellow;
}

.lifeClrRed {
    background-color: red;
}

.center {
    margin-top: 20%;
}

.completedTasks {
    text-align: left;
}

.infosection {
    display: inline-block;
}

.right {
    float: right;
}

.left {
    float: left;
}

.circleNumber {
    background-color: white;
    color:red;
    border-radius: 10px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}