<div class="container">
  <div class="wrapper">
    <h1>Robotinator 5000x</h1>
    <h3>Life Counter: {{lifePcnt}} %</h3>
    <div class="lifeCounter">
      <table>
        <th [ngClass]="{'lifeClrRed': lifeRed, 'lifeClrYellow': lifeYellow, 'lifeClrGreen': lifeGreen}" *ngFor="let t of [].constructor(lifePcnt);"></th>
      </table>
    </div>
    <div class="iconSection">
    <div class="infosection left">
      <h3>Completed Tasks</h3>
      <div class="completedTasks">
        <span class="circleNumber">{{completedTask1Count}}</span> <div title="{{task1TitleInfo}}" class="mainIcon task1"><i class="fas fa-broom center icn"></i></div>
        <span class="circleNumber">{{completedTask2Count}}</span><div title="{{task2TitleInfo}}" class="mainIcon task2"><i class="fas fa-sink center icn"></i></div>
        <span class="circleNumber">{{completedTask3Count}}</span><div title="{{task3TitleInfo}}" class="mainIcon task3"><i class="fas fa-trash center icn"></i></div>
      </div>
    </div>
    <div class="infosection rigth">
      <h3>Scene Icons</h3>
      <div class="dragSection">
        <div *ngIf="!robotInMatrix" draggable="true" (dragstart)="dragIcon($event,'robot',-1,-1)" title="{{robotTitle}}" class="mainIcon robot"><i class="fas fa-robot center"></i></div>
        <div draggable="true" (dragstart)="dragIcon($event,'task1',-1,-1)" title="{{task1Title}}" class="mainIcon task1"><i class="fas fa-broom center"></i></div>
        <div draggable="true" (dragstart)="dragIcon($event,'task2',-1,-1)" title="{{task2Title}}" class="mainIcon task2"><i class="fas fa-sink center"></i></div>
        <div draggable="true" (dragstart)="dragIcon($event,'task3',-1,-1)" title="{{task3Title}}" class="mainIcon task3"><i class="fas fa-trash center"></i></div>
        <div draggable="true" (dragstart)="dragIcon($event,'battery1',-1,-1)" title="{{battery1Title}}" class="mainIcon battery1"><i class="fas fa-battery-half center"></i></div>
        <div *ngIf="!fullBatteryInMatrix" draggable="true" (dragstart)="dragIcon($event,'battery2',-1,-1)" title="{{battery2Title}}" class="mainIcon battery2"><i class="fas fa-battery-full center"></i></div>
        <div draggable="true" (dragstart)="dragIcon($event,'block',-1,-1)" title="{{blockTitle}}" class="mainIcon block"><i class="fas fa-cube center"></i></div>
      </div>
    </div>
    </div>
    <table class="matrix">
      <tr *ngFor="let elem of matrix; let y = index">
        <td *ngFor="let itm of elem; let x = index">
          <div (click)="removeIcon($event,y,x)" draggable="true" (dragstart)="dragIcon($event,'task'+itm.taskType?.type,y,x)" *ngIf="itm['isTask']" [ngClass]="{'dvTd':true, 'robot':itm['isRobotOn'], 'task1':itm.taskType?.type == 1, 'task2':itm.taskType?.type == 2, 'task3':itm.taskType?.type == 3}">
            <i *ngIf="itm.taskType?.type == 1" [ngClass]="{'fas':true, 'fa-broom':true, 'icn':true, 'onHold':!itm['isRobotOn'], 'inProgress':itm['isRobotOn']}"></i>
            <i *ngIf="itm.taskType?.type == 2" [ngClass]="{'fas':true, 'fa-sink':true, 'icn':true, 'onHold':!itm['isRobotOn'], 'inProgress':itm['isRobotOn']}"></i>
            <i *ngIf="itm.taskType?.type == 3" [ngClass]="{'fas':true, 'fa-trash':true, 'icn':true, 'onHold':!itm['isRobotOn'], 'inProgress':itm['isRobotOn']}"></i>
          </div>
          <div (click)="removeIcon($event,y,x)" draggable="true" (dragstart)="dragIcon($event,'block',y,x)" *ngIf="itm['isBlock']" class="block dvTd">
            <i class="fas fa-cube icn"></i>
          </div>
          <div (click)="removeIcon($event,y,x)" draggable="true" (dragstart)="dragIcon($event,'battery'+itm.batteryType?.type,y,x)" *ngIf="itm['isBattery']" [ngClass]="{'dvTd':true, 'battery1':itm.batteryType?.type == 1, 'battery2': itm.batteryType?.type == 2 }">
            <i *ngIf="itm.batteryType?.type == 1" [ngClass]="{'fas':true, 'fa-battery-half':true, 'icn':true, 'onHold':!itm['isRobotOn'], 'inProgress':itm['isRobotOn']}"></i>
            <i *ngIf="itm.batteryType?.type == 2" [ngClass]="{'fas':true, 'fa-battery-full':true, 'icn':true, 'onHold':!itm['isRobotOn'], 'inProgress':itm['isRobotOn']}"></i>
          </div>
          <div *ngIf="itm['isRobotOn'] && !itm['isBattery'] && !itm['isBlock'] && !itm['isTask']" class="robot dvTd">
            <i *ngIf="!robotDied" class="fas fa-robot icn"></i>
            <i *ngIf="robotDied" class="fas fa-skull icn"></i>
          </div>
          <div (dragover)="allowIconDrop($event)" (drop)="iconDrop($event,y,x)" *ngIf="!itm['isRobotOn'] && !itm['isBattery'] && !itm['isBlock'] && !itm['isTask']" class="empty dvTd"></div>
        </td>
      </tr>
    </table>
  </div>
</div>
